
@{
    ViewData["Title"] = "ErrorPage";
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
    Error-Page
</title>
<link rel="icon" href="~/Images/black-cloud.png" type="image/x-icon">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/Weather.css" type="text/css" />

<div class="row no-gutters">

    <div>
        <div class="errorpageforindex">
            <div id="error">
                <p>Error Processing Request.</p>
                <p>Please change the date and try again.</p>
            </div>
            

        </div>
    </div>

</div>
