<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Split Screen Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Weather.css" type="text/css" />

</head>
<body>

    <div class="row no-gutters">

        <div class="col-md-6 no-gutters">
            <div class="leftside d-flex justify-content-center align-items-center">
                WEATHER
            </div>
        </div>

        <div class="col-md-6 no-gutters">
            <div class="rightside d-flex justify-content-center align-items-center">
                COVID STATUS
            </div>
        </div>

    </div>

</body>
</html>