@media screen and (min-width: 1024px) {
    .form-control {
        display: inline-block;
        width: auto;
        height: 30px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 8px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    span#errordate {
        position: absolute;
        padding-left: 41.6%;
        display: block;
    }
    span#errorstate {
        position: absolute;
        padding-left: 8%;
        display: block;
    }
    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
        padding-left: 40px;
        padding-top: 40px;
        padding-right: 10px;
    }
    #date {
        width: auto;
        padding: 10px;
        text-align: center;
    }
    #cal {
        color: black;
        padding-top: 35px;
        padding-left: 1px;
    }   
}

@media screen and (max-device-width: 640px) {
    .form-control {
        display: inline-block;
        width: auto;
        height: 30px;
        font-size: 12px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 8px;       
    }
    select#state {
        margin-left: 35px;
    }
    span#errordate {
        position: absolute;
        padding-left: 35%;
        display: block;
    }
    #date {
        width: auto;
        padding: 10px;
        padding-left: 25px;
        text-align: center;
    }
    span#errorstate {
        position: absolute;
        padding-left: 40px;
        display: block;
    }    
    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
        padding-left: 40px;
        padding-top: 40px;
        padding-right: 22px;
    }
    #cal {
        color: black;
        padding-top: 36px;
        padding-left: 1px;
    }    
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media only screen and (device-width: 540px) and (device-height: 720px){
    .form-control {
        display: inline-block;
        width: auto;
        height: 30px;
        font-size: 12px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    span#errorstate {
        position: absolute;
        padding-left: 160px;
        display: block;
    }

    span#errordate {
        position: absolute;
        padding-left: 120px;
        display: block;
    }
    
    #date {
        width: auto;
        padding: 10px;
        padding-left: 25px;
        text-align: center;
    }    

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
        padding-left: 50px;
        padding-top: 40px;
        padding-right: 22px;
    }

    #cal {
        color: black;
        padding-top: 36px;
        padding-left: 1px;
    }
}

@media only screen and (device-width: 280px) and (device-height: 653px) {
    #date{
        width: 126px;
    }

    .form-control{
        width: 128px;
    }
}

    /* #### iPhone 5 Portrait or Landscape #### */
    @media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
        label {
            padding-right: 18px;
        }
    }

    @media only screen and (min-device-width:768px) {
        .form-control {
            display: inline-block;
            width: auto;
            height: 30px;
            font-size: 12px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 8px;
        }

        span#errordate {
            position: absolute;
            padding-left: 40.6%;
            display: block;
        }

        #date {
            width: auto;
            padding: 10px;
            padding-left: 25px;
            text-align: center;
        }

        span#errorstate {
            position: absolute;
            padding-left: 110px;
            display: block;
        }

        label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            font-weight: bold;
            padding-left: 40px;
            padding-top: 40px;
            padding-right: 22px;
        }

        #cal {
            color: black;
            padding-top: 36px;
            padding-left: 1px;
        }
    }

@media only screen and (device-width:768px) and (device-height: 1024px) {
    span#errordate {
        position: absolute;
        padding-left: 510px;
        display: block;
    }

    span#errorstate {
        position: absolute;
        padding-left: 115px;
        display: block;
    }
}

@media only screen and (device-width:1024px) and (device-height: 1366px) {
    span#errordate {
        position: absolute;
        padding-left: 510px;
        display: block;
    }

    span#errorstate {
        position: absolute;
        padding-left: 115px;
        display: block;
    }
}

@media only screen and (device-width:280px) and (device-height: 653px) {
    span#errorstate {
        position: absolute;
        padding-left: 145px;
        display: block;
    }

    span#errordate {
        position: absolute;
        padding-left: 110px;
        display: block;
    }
}


    .row1 {
        background: white;
    }

        .row1 i {
            position: absolute;
        }

    .required {
        color: red;
    }

    .btn {
        font-weight: bold;
    }



    .table th {
        text-align: center;
    }

    .table td {
        text-align: center;
    }

    section.hero .container .weather_animated .main_right #LOC {
        position: absolute;
        left: -167px;
        top: 90px;
        font-size: small;
        background-color: #16394c;
    }

    .modal-body {
        color: white;
        font-family: sans-serif;
    }

    h4#myModalLabel {
        color: white;
    }

    .table thead th {
        color: white;
    }

    thead {
        background-color: black;
    }

    table.ui-datepicker-calendar thead tr {
        color: white;
    }

    button#modelclose {
        color: white;
    }

    div#submitdiv {
        margin-right: 50px;
    }

    div#showloding {
        margin-left: 590px;
    }

    div#resulttable_vaccinebypin {
        overflow: auto;
        height: 500px;
    }


    thead#thead_vaccine {
        position: sticky;
        top: 0;
        z-index: 1;
    }




